*{
    padding: 0;
    margin: 0;
    background: aliceblue;
}

h1{
    text-align: center;
    margin-top: 150px;
    font-family: "Arial Black";
    font-size: 11em;
    line-height: 1em;
    text-transform: uppercase;
    background: url(image/g.PNG);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 100%;
    }
}